{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    {% load form_tags %}
    <h2 class="text-center mb-4">Crear cuenta</h2>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <p class="alert alert-success mt-3">{{ message }}</p>
        {% elif message.tags == 'error' %}
            <p class="alert alert-danger mt-3">{{ message }}</p>
        {% elif message.tags == 'warning' %}
            <p class="alert alert-warning mt-3">{{ message }}</p>
        {% else %}
            <p class="alert alert-info mt-3">{{ message }}</p>
        {% endif %}
    {% endfor %}
    {% endif %} 
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Nombre de usuario</label>
            {{ form.username|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            {{ form.first_name|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label class="form-label">Apellido</label>
            {{ form.last_name|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            {{ form.email|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            {{ form.password|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label class="form-label">Imagen de perfil (opcional)</label>
            {{ form.profile_image|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label class="form-label">LinkedIn ID (opcional)</label>
            {{ form.linkedin_id|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label class="form-label">Rol</label>
            {{ form.role|add_class:"form-select" }}
        </div>
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-danger mt-3">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div class="d-grid mt-3">
            <button type="submit" class="btn" style="background-color: #009f85; color: #ffff;">Regístrate</button>
        </div>
    </form>

    <div class="mt-3 text-center">
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
    </div>
</div>

{% endblock content %}
