<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Need-Job</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%; /* Asegura que ocupen toda la altura de la pantalla */
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .container {
            flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #009f85;">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">
                <img src="{% static 'images/AINEEDJOB_logo_1.png' %}" style="filter: brightness(0) invert(1);" alt="AI-Need-Job" width="65" height="35" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">  {# Elementos a la izquierda #}
                    {% if user.is_authenticated %}
                        {% if user.role == 'jobseeker' %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'upload_cv' %}">Upgrade CV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'history' %}">Manage your CVs</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'upload_cvs' %}">Post an Offer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">View Applications</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            
                <ul class="navbar-nav ms-auto">  {# Elementos a la derecha #}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'history' %}">
                                <img src="{% static 'images/profile_icon.png' %}" alt="Profile" width="30" height="30" class="d-inline-block align-text-top" style="filter: invert(100%);">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>



    <!-- Content Container -->
    <div class="container py-5">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Footer -->
    <footer class=" text-center text-white py-3 mt-4" style="background-color: #333;">
        <div class="container">
            <h5 class="fw-bold">© 2025 AI-Need-Job</h5>
            <p>Evil Corp</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
