{% extends 'base.html' %}
{% block content %}
<!--
<div class="container">
    {% for offer in offers %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="card-body">
                <h5 class="card-title">{{ offer.title }}</h5>
                <p class="card-text">{{ offer.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %} 
-->

    <!-- Sección para añadir una nueva oferta de trabajo -->
<!-- 
    <div class="mt-5 p-4 border rounded bg-light">
        <h4 class="mb-3">Añadir oferta de trabajo</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Cargo</label>
                <input type="text" name="title" class="form-control" id="title" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea name="description" class="form-control" id="description" rows="4" required></textarea>
            </div>
            <div class="mb-3">
                <label for="salary" class="form-label">Sueldo</label>
                <input type="text" name="salary" class="form-control" id="salary" required>
            </div>
            <div class="mb-3">
                <label for="company" class="form-label">Compañía</label>
                <input type="text" name="company" class="form-control" id="company" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn" style="background-color: #009f85; color: #ffff;">Publicar oferta</button>
            </div>
        </form>
    </div>
</div>

-->


<form method="post" enctype="multipart/form-data" action="{% url 'upload_cvs' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_file" class="form-label">Selecciona los archivos que quiere evaluar</label>
        <input type="file" name="file" class="form-control" id="id_file" accept=".pdf,.md,.txt">
    </div>
    <div class="mt-4">

        <div class="md-6 custom-box">
            <label for="vacancy" class="form-label">Ingresa vacante y especificaciones</label>
            <textarea required=True name="vacancy" class="form-control" id="vacancy" rows="10" placeholder="Text">{{ vacancy }}</textarea>
        </div>
    </div>
    <div class="d-grid mt-3">
        <button type="submit" class="btn" style="background-color: #009f85; color: #ffff;">evaluar cvs</button>
    </div>
    <div class="d-grid mt-3">
        <button class="btn" style="background-color: #009f85; color: #ffff;">Mejorar presentacion de vacante</button>
    </div>
</form>

{% endblock content %}
